@charset "UTF-8";

/*Configurando telas mobile*/

@media only screen and (max-width: 768px)
{

    header
    {

        width: 100%;
        height: 400px;
        

    }   
    
    img.main_menu_button
    {

        height: 18px;

    }

    div.dropdown:hover .dropdown-child
    {

        display: flex;

    }

    span#name 
    {

        font-size: 26px;

    }

    a.navigator 
    {

        font-size: 0.7rem;

    }

    h2.header
    {

        font-size: 1rem;
        padding-top: 10vh;

    }

    h1.header
    {

        font-size: 1.8rem;
        padding-top: 1vh;

    }

    p.header
    {

        font-size: 0.5rem;
        display: flex;

    }

    div.box
    {

        margin-top: 8%;
        margin-left: 32%;
        

    }

    button 
    {

        height: 45px;
        width: 750%;
        font-size: 0.6rem;

    }

    span#twitter
    {

        padding-left: 29%;       

    }

    img.twitter
    {

        height: 20px;
        margin-bottom: 2%;

    }

    img.linkedin 
    {

        height: 19px;
        margin-bottom: 2%;

    }

    img.github 
    {

        height: 21px;
        margin-bottom: 2%;

    }

    img.mail 
    {

        height: 21px;
        margin-bottom: 2%;

    }


}