@charset "UTF-8";

@media only screen and (min-width: 280px) and (max-width: 319px)
{

    header 
    {

        height: 130vh;

    }

    img.main_menu_button 
    {

        height: 16px;

    }

    span#name 
    {

        font-size: 24px;

    }

    a.navigator 
    {

        font-size: 0.7rem;

    }

    h2.header 
    {

        font-size: 1.3rem;
        padding-top:10vh;

    }

    h1.header 
    {

        font-size: 2rem;
        padding-top: 2.3vh;

    }

    p.header 
    {

        font-size: 0.6rem;
        margin-top: 1vh;

    }

    span.line
    {

        display: none;

    }

    div.box 
    {

        margin-top: 13%;
        margin-left: 30%;

    }

    button 
    {
        
        width: 860%;
        font-size: 0.6rem;        

    }

    div#icons 
    {

        margin-left: 26%;
        margin-top: 0.5vh;

    }

    img.twitter 
    {

        padding: 0.9%;

    }

    img.linkedin
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.github 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.mail 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    h2.about 
    {

        font-size: 1rem;

    }

    h1.about
    {

        font-size: 1.9rem;

    }

}

/*Small Screens*/

@media only screen and (min-width: 320px) and (max-width:374px)
{

    header
    {

        width: 100%;
        height: 130vh;
        

    }   
    
    img.main_menu_button
    {

        height: 18px;

    }

    div.dropdown:hover .dropdown-child
    {

        display: flex;

    }

    span#name 
    {

        font-size: 26px;

    }

    a.navigator 
    {

        font-size: 0.7rem;

    }

    h2.header
    {

        font-size: 1.4rem;
        padding-top: 8vh;

    }

    h1.header
    {

        font-size: 2rem;
        padding-top: 2vh;

    }

    p.header
    {

        font-size: 0.7rem;
        margin-top: 1.2vh;
        

    }

    span.line
    {

        display: none;

    }

    div.box
    {

        margin-top: 8%;
        margin-left: 32%;
        

    }

    button 
    {

        height: 45px;
        width: 750%;
        margin-top: 1vh;
        font-size: 0.6rem;

    }

    div#icons
    {

        width: 50%;
        margin-left: 28%;
        margin-top: 0.2vh;

    }

    img.twitter 
    {

        padding: 0.9%;
        

    }

    img.linkedin
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.github 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.mail 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    /*page about*/

    article#about
    {

        height: 1350vh;

    }
    

    article#sumary 
    {

        height: 200vh;

    }

    div#about_titles
    {

        margin-top: 12%;

    }    

    #profile_picture 
    {

        width: 40%;

    }

    #profile_description 
    {

        width: 70%;

    }

    .profile_description 
    {

        font-size: 1rem;

    }

    div.templates 
    {

        display: none;              

    }    
    
    .profile_mobile 
    {

        display: flex;
        margin-top: 440%;
        width: 100%;
        margin-left: 37%;
        

    }    

    .perfil
    {

        margin-left: -43%;
        margin-top: 15%;       

    }

    .personal_informations 
    {

       position: absolute; 
       margin-top: 70%;
       margin-left: -15%;
       

    }

    h2.personal_titles 
    {

        font-size: 1rem;

    }

    p.personal_titles 
    {

        font-size: 0.9rem;

    }

    /*Languages list*/

    #owl-slider-languages
    {

        margin-top: 210%;
        margin-left: -60%;

    }

    .skill_bars_portuguese 
    {
    
        list-style: none;
        margin: 6rem 0 3rem;
        display: block;   
    
    }

    .skill_bars_portuguese li 
    {

        height: 0.5rem;
        background: #a1a1a1;
        width: 130%;
        margin-bottom: 6rem;
        padding: 0;
        position: relative;

    }

    .skill_bars_portuguese li strong
    {
    
        position: relative;
        left: -30%;        
        top: -3.6rem;
        color: #313131;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 0.8rem;
        line-height: 2.4rem;
    
    }

    .skill_bars_portuguese li .progress
    {
    
        background: #313131;
        position: relative;
        height: 100%;
    
    }

    .skill_bars_portuguese li .progress span 
    {

        position: absolute;
        right: 0;
        top: -2.6rem;
        display: block;
        color: white;
        font-size: 0.8rem;
        line-height: 0.5;
        background: #313131;
        padding: .6rem .6rem;
        border-radius: 3px;

    }

    .skill_bars_portuguese li .progress span::after 
    {
    
        position: absolute;
        left: 50%;
        bottom: -5px;
        margin-left: -5px;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-top: 5px solid #313131;
        content: "";
    
    }

    /*Skills List*/

    .skills_mobile 
    {

        display: flex;
        margin-left: 30%;
        width: 90%;        

    }

    #slider_skills 
    {

        margin-top: 100%;
        margin-left: -55%;

    }

    .button_contact
    {

        width: 45%;
        font-size: 0.65rem;
        margin-left: 25%;

    }
    
    

}

/* medium mobile*/

@media only screen and (min-width: 375px) and (max-width: 424px)
{

    header
    {

        width: 100%;
        height: 155vh;
        

    }    
    
    
    img.main_menu_button
    {

        height: 18px;
        

    }

    div.dropdown:hover .dropdown-child
    {

        display: flex;

    }

    span#name 
    {

        font-size: 26px;

    }

    a.navigator 
    {

        font-size: 0.7rem;

    }

    h2.header
    {

        font-size: 1.82rem;
        padding-top: 8vh;

    }

    h1.header
    {

        font-size: 2.62rem;
        padding-top: 1.6vh;

    }

    p.header
    {

        font-size: 0.9rem;
        margin-top: 1.4vh;
        

    }

    span.line
    {

        display: none;

    }

    div.box
    {

        margin-top: 14%;
        margin-left: 28.2%;
        

    }

    button 
    {

        height: 60px;
        width: 850%;
        font-size: 0.9rem; 
       
    }

    div#icons
    {

        width: 50%;
        margin-left: 32%;
        

    }

    img.twitter 
    {

        padding: 0.9%;

    }

    img.linkedin
    {

        padding: 0.9%;

    }

    img.github 
    {

        padding: 0.9%;

    }

    img.mail 
    {

        padding: 0.9%;

    }

    /*page about*/

    article#about
    {

        height: 1520vh;

    }

    article#sumary 
    {

        height: 200vh;

    }

    div#about_titles
    {

        margin-top: 12%;

    }    

    #profile_picture 
    {

        width: 40%;

    }

    #profile_description 
    {

        width: 70%;

    }

    .profile_description 
    {

        font-size: 1.2rem;
        margin-top: 25%;

    }

    div.templates 
    {

        display: none;              

    }
    
    .profile_mobile 
    {

        display: flex;
        margin-top: 510%;
        width: 100%;
        margin-left: 37%;
        

    }    

    .perfil
    {

        margin-left: -43%;
        margin-top: 15%;       

    }

    .personal_informations 
    {

       position: absolute; 
       margin-top: 70%;
       margin-left: -15%;
       

    }

    h2.personal_titles 
    {

        font-size: 1rem;

    }

    p.personal_titles 
    {

        font-size: 0.9rem;

    }

    /*Languages list*/

    #owl-slider-languages
    {

        margin-top: 190%;
        margin-left: -50%;

    }

    .skill_bars_portuguese 
    {
    
        list-style: none;
        margin: 6rem 0 3rem;
        display: block;   
    
    }

    .skill_bars_portuguese li 
    {

        height: 0.5rem;
        background: #a1a1a1;
        width: 130%;
        margin-bottom: 6rem;
        padding: 0;
        position: relative;

    }

    .skill_bars_portuguese li strong
    {
    
        position: relative;
        left: -30%;        
        top: -3.6rem;
        color: #313131;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1rem;
        line-height: 2.4rem;
    
    }

    .skill_bars_portuguese li .progress
    {
    
        background: #313131;
        position: relative;
        height: 100%;
    
    }

    .skill_bars_portuguese li .progress span 
    {

        position: absolute;
        right: 0;
        top: -2.6rem;
        display: block;
        color: white;
        font-size: 0.8rem;
        line-height: 0.5;
        background: #313131;
        padding: .6rem .6rem;
        border-radius: 3px;

    }

    .skill_bars_portuguese li .progress span::after 
    {
    
        position: absolute;
        left: 50%;
        bottom: -5px;
        margin-left: -5px;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-top: 5px solid #313131;
        content: "";
    
    }

    /*Skills List*/

    .skills_mobile 
    {

        display: flex;
        margin-left: 30%;
        width: 90%;        

    }

    #slider_skills 
    {

        margin-top: 70%;
        margin-left: -45%;

    }

    .button_contact
    {

        width: 45%;
        font-size: 0.65rem;
        margin-left: 25%;

    }
    


}

/* intermediate mobile */

@media only screen and (min-width: 425px) and (max-width: 436px)
{

    header
    {

        width: 100%;
        height: 175vh;        

    }    
    
    
    img.main_menu_button
    {

        height: 18px;

    }

    div.dropdown:hover .dropdown-child
    {

        display: flex;

    }

    span#name 
    {

        font-size: 26px;

    }

    a.navigator 
    {

        font-size: 0.7rem;

    }

    h2.header
    {

        font-size: 1.6rem;
        padding-top: 8vh;

    }

    h1.header
    {

        font-size: 2.6rem;
        padding-top: 2vh;

    }
    

    p.header
    {

        font-size: 0.85rem;
        margin-top: 1.2vh;
        

    }

    span.line
    {

        display: none;

    }

    div.box
    {

        margin-top: 10%;
        margin-left: 32%;
        

    }

    button 
    {

        height: 45px;
        width: 750%;
        font-size: 0.6rem;

    }

    div#icons
    {

        width: 50%;
        margin-left: 32%;

    }

    img.twitter 
    {

        padding: 0.9%;

    }

    img.linkedin
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.github 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.mail 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    header
    {

        width: 100%;
        height: 155vh;
        

    }    
    
    
    img.main_menu_button
    {

        height: 18px;
        

    }

    div.dropdown:hover .dropdown-child
    {

        display: flex;

    }

    span#name 
    {

        font-size: 26px;

    }

    a.navigator 
    {

        font-size: 0.7rem;

    }

    h2.header
    {

        font-size: 1.82rem;
        padding-top: 8vh;

    }

    h1.header
    {

        font-size: 2.62rem;
        padding-top: 1.6vh;

    }

    p.header
    {

        font-size: 0.9rem;
        margin-top: 1.4vh;
        

    }

    span.line
    {

        display: none;

    }

    div.box
    {

        margin-top: 14%;
        margin-left: 28.2%;
        

    }

    button 
    {

        height: 60px;
        width: 850%;
        font-size: 0.9rem; 
       
    }

    div#icons
    {

        width: 50%;
        margin-left: 32%;
        

    }

    img.twitter 
    {

        padding: 0.9%;

    }

    img.linkedin
    {

        padding: 0.9%;

    }

    img.github 
    {

        padding: 0.9%;

    }

    img.mail 
    {

        padding: 0.9%;

    }

    /*page about*/

    article#about
    {

        height: 1550vh;

    }

    article#sumary 
    {

        height: 200vh;

    }

    div#about_titles
    {

        margin-top: 12%;

    }    

    #profile_picture 
    {

        width: 38%;

    }

    #profile_description 
    {

        width: 70%;

    }

    .profile_description 
    {

        font-size: 1.2rem;
        margin-top: 25%;

    }

    div.templates 
    {

        display: none;              

    }
    
    .profile_mobile 
    {

        display: flex;
        margin-top: 410%;
        width: 100%;
        margin-left: 37%;
        

    }    

    .perfil
    {

        margin-left: -43%;
        margin-top: 15%;       

    }

    .personal_informations 
    {

       position: absolute; 
       margin-top: 60%;
       margin-left: -15%;
       

    }

    h2.personal_titles 
    {

        font-size: 1rem;

    }

    p.personal_titles 
    {

        font-size: 0.9rem;

    }

    /*Languages list*/

    #owl-slider-languages
    {

        margin-top: 170%;
        margin-left: -50%;

    }

    .skill_bars_portuguese 
    {
    
        list-style: none;
        margin: 6rem 0 3rem;
        display: block;   
    
    }

    .skill_bars_portuguese li 
    {

        height: 0.5rem;
        background: #a1a1a1;
        width: 130%;
        margin-bottom: 6rem;
        padding: 0;
        position: relative;

    }

    .skill_bars_portuguese li strong
    {
    
        position: relative;
        left: -30%;        
        top: -3.6rem;
        color: #313131;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1rem;
        line-height: 2.4rem;
    
    }

    .skill_bars_portuguese li .progress
    {
    
        background: #313131;
        position: relative;
        height: 100%;
    
    }

    .skill_bars_portuguese li .progress span 
    {

        position: absolute;
        right: 0;
        top: -2.6rem;
        display: block;
        color: white;
        font-size: 0.8rem;
        line-height: 0.5;
        background: #313131;
        padding: .6rem .6rem;
        border-radius: 3px;

    }

    .skill_bars_portuguese li .progress span::after 
    {
    
        position: absolute;
        left: 50%;
        bottom: -5px;
        margin-left: -5px;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-top: 5px solid #313131;
        content: "";
    
    }

    /*Skills List*/

    .skills_mobile 
    {

        display: flex;
        margin-left: 30%;
        width: 90%;        

    }

    #slider_skills 
    {

        margin-top: 50%;
        margin-left: -45%;

    }

    .button_contact
    {

        width: 45%;
        font-size: 0.65rem;
        margin-left: 25%;

    }
    

}

/*Large Mobile*/

@media only screen and (min-width: 437px) and (max-width: 767px)
{

    header
    {

        width: 100%;
        height: 175vh;        

    }    
    
    
    img.main_menu_button
    {

        height: 18px;

    }

    div.dropdown:hover .dropdown-child
    {

        display: flex;

    }

    span#name 
    {

        font-size: 26px;

    }

    a.navigator 
    {

        font-size: 0.7rem;

    }

    h2.header
    {

        font-size: 2.2rem;
        padding-top: 8vh;

    }

    h1.header
    {

        font-size: 3.9rem;
        padding-top: 2vh;

    }

    p.header
    {

        font-size: 1.34rem;
        margin-top: 1.2vh;
        

    }

    span.line
    {

        display: none;

    }

    div.box
    {

        margin-top: 12%;
        margin-left: 32%;
        

    }

    button 
    {

        height: 45px;
        width: 750%;
        font-size: 0.9rem;

    }

    div#icons
    {

        width: 50%;
        margin-left: 34%;

    }

    img.twitter 
    {

        padding: 0.9%;

    }

    img.linkedin
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.github 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.mail 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    header
    {

        width: 100%;
        height: 155vh;
        

    }    
    
    
    img.main_menu_button
    {

        height: 18px;
        

    }

    div.dropdown:hover .dropdown-child
    {

        display: flex;

    }

    span#name 
    {

        font-size: 26px;

    }

    a.navigator 
    {

        font-size: 0.7rem;

    }

    h2.header
    {

        font-size: 1.82rem;
        padding-top: 8vh;

    }

    h1.header
    {

        font-size: 2.62rem;
        padding-top: 1.6vh;

    }

    p.header
    {

        font-size: 0.9rem;
        margin-top: 1.4vh;
        

    }

    span.line
    {

        display: none;

    }

    div.box
    {

        margin-top: 14%;
        margin-left: 28.2%;
        

    }

    button 
    {

        height: 60px;
        width: 850%;
        font-size: 0.9rem; 
       
    }

    div#icons
    {

        width: 50%;
        margin-left: 32%;
        

    }

    img.twitter 
    {

        padding: 0.9%;

    }

    img.linkedin
    {

        padding: 0.9%;

    }

    img.github 
    {

        padding: 0.9%;

    }

    img.mail 
    {

        padding: 0.9%;

    }

   /*page about*/

   article#about
   {

       height: 1550vh;

   }

   article#sumary 
   {

       height: 200vh;

   }

   div#about_titles
   {

       margin-top: 12%;

   }    

   #profile_picture 
   {

       width: 38%;

   }

   #profile_description 
   {

       width: 70%;

   }

   .profile_description 
   {

       font-size: 1.2rem;
       margin-top: 25%;

   }

   div.templates 
   {

       display: none;              

   }
   
   .profile_mobile 
   {

       display: flex;
       margin-top: 410%;
       width: 100%;
       margin-left: 37%;
       

   }    

   .perfil
   {

       margin-left: -43%;
       margin-top: 15%;       

   }

   .personal_informations 
   {

      position: absolute; 
      margin-top: 60%;
      margin-left: -15%;
      

   }

   h2.personal_titles 
   {

       font-size: 1rem;

   }

   p.personal_titles 
   {

       font-size: 0.9rem;

   }

   /*Languages list*/

   #owl-slider-languages
   {

       margin-top: 170%;
       margin-left: -50%;

   }

   .skill_bars_portuguese 
   {
   
       list-style: none;
       margin: 6rem 0 3rem;
       display: block;   
   
   }

   .skill_bars_portuguese li 
   {

       height: 0.5rem;
       background: #a1a1a1;
       width: 130%;
       margin-bottom: 6rem;
       padding: 0;
       position: relative;

   }

   .skill_bars_portuguese li strong
   {
   
       position: relative;
       left: -30%;        
       top: -3.6rem;
       color: #313131;
       text-transform: uppercase;
       letter-spacing: 0.2rem;
       font-size: 1rem;
       line-height: 2.4rem;
   
   }

   .skill_bars_portuguese li .progress
   {
   
       background: #313131;
       position: relative;
       height: 100%;
   
   }

   .skill_bars_portuguese li .progress span 
   {

       position: absolute;
       right: 0;
       top: -2.6rem;
       display: block;
       color: white;
       font-size: 0.8rem;
       line-height: 0.5;
       background: #313131;
       padding: .6rem .6rem;
       border-radius: 3px;

   }

   .skill_bars_portuguese li .progress span::after 
   {
   
       position: absolute;
       left: 50%;
       bottom: -5px;
       margin-left: -5px;
       border-right: 5px solid transparent;
       border-left: 5px solid transparent;
       border-top: 5px solid #313131;
       content: "";
   
   }

   /*Skills List*/

   .skills_mobile 
   {

       display: flex;
       margin-left: 30%;
       width: 90%;        

   }

   #slider_skills 
   {

       margin-top: 50%;
       margin-left: -45%;

   }

   .button_contact
   {

       width: 45%;
       font-size: 0.65rem;
       margin-left: 25%;

   }
    


}

/*tablet version*/

@media only screen and (min-width: 768px) and (max-width: 768px)
{

    header
    {

        width: 100%;
        height: 175vh;
        

    }    
    
    
    img.main_menu_button
    {

        height: 30px;

    }

    div.dropdown:hover .dropdown-child
    {

        display: flex;

    }

    span#name 
    {

        font-size: 38px;

    }

    a.navigator 
    {

        font-size: 1.2rem;

    }

    h2.header
    {

        font-size: 1.8rem;
        padding-top: 18vh;

    }

    h1.header
    {

        font-size: 3.6rem;
        padding-top: 1.5vh;

    }

    p.header
    {

        font-size: 1.2rem;
        margin-top: 1.9vh;
        

    }

    div.box
    {

        margin-top: 8%;
        margin-left: 32%;
        

    }

    button 
    {

        height: 85px;
        width: 600%;
        font-size: 1.3rem;
        margin-left: 70%;

    }

    div#icons
    {

        width: 50%;
        margin-left: 39%;
        margin-top: 3%;

    }

    img.twitter 
    {

        padding: 1.2%;

    }

    img.linkedin
    {

        padding: 1.2%;

    }

    img.github 
    {

        padding: 1.2%;

    }

    img.mail 
    {

        padding: 1.2%;

    }

    /*page about*/

    article#about
    {

        height: 1350vh;

    }

    article#sumary 
    {

        height: 200vh;

    }

    div#about_titles
    {

        margin-top: 12%;

    }    

    #profile_picture 
    {

        width: 18%;

    }

    #profile_description 
    {

        width: 70%;

    }

    .profile_description 
    {

        font-size: 1.4rem;

    }

    div.templates 
    {

        display: none;              

    }

    h2.template_titles
    {

        font-size: 1.5rem;

    }

    p.perfil 
    {

        font-size: 1.38rem;

    }
    
    .profile_mobile 
    {

        display: flex;
        margin-top: 165%;
        width: 100%;
        margin-left: 43%;
        

    }    

    .perfil
    {

        margin-left: -38%;
        margin-top: 10%;       

    }

    .personal_informations 
    {

       position: absolute; 
       margin-top: 30%;
       margin-left: -15%;
       

    }

    h2.personal_titles 
    {

        font-size: 1.5rem;

    }

    p.personal_titles 
    {

        font-size: 1.2rem;

    }

    /*Languages list*/

    #owl-slider-languages
    {

        margin-top: 110%;
        margin-left: -50%;

    }

    .skill_bars_portuguese 
    {
    
        list-style: none;
        margin: 6rem 0 3rem;
        display: block;   
    
    }

    .skill_bars_portuguese li 
    {

        height: 0.5rem;
        background: #a1a1a1;
        width: 130%;
        margin-bottom: 6rem;
        padding: 0;
        position: relative;

    }

    .skill_bars_portuguese li strong
    {
    
        position: relative;
        left: -30%;        
        top: -3.6rem;
        color: #313131;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.2rem;
        line-height: 2.4rem;
    
    }

    .skill_bars_portuguese li .progress
    {
    
        background: #313131;
        position: relative;
        height: 100%;
    
    }

    .skill_bars_portuguese li .progress span 
    {

        position: absolute;
        right: 0;
        top: -2.6rem;
        display: block;
        color: white;
        font-size: 0.8rem;
        line-height: 0.5;
        background: #313131;
        padding: .6rem .6rem;
        border-radius: 3px;

    }

    .skill_bars_portuguese li .progress span::after 
    {
    
        position: absolute;
        left: 50%;
        bottom: -5px;
        margin-left: -5px;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-top: 5px solid #313131;
        content: "";
    
    }

    /*Skills List*/

    .skills_mobile 
    {

        display: flex;
        margin-left: 40%;
        width: 90%;        

    }

    #slider_skills 
    {

        margin-top: 35%;
        margin-left: -50%;

    }

    .button_contact
    {

        width: 23%;
        font-size: 0.65rem;
        margin-left: 30%;

    }

}