@charset "UTF-8";

@media only screen and (min-width: 280px) and (max-width: 319px)
{

    header 
    {

        height: 100vh;

    }

    img.main_menu_button 
    {

        height: 16px;

    }

    span#name 
    {

        font-size: 24px;

    }

    a.navigator 
    {

        font-size: 0.7rem;

    }

    h2.header 
    {

        font-size: 1.3rem;
        padding-top:10vh;

    }

    h1.header 
    {

        font-size: 2rem;
        padding-top: 2.3vh;

    }

    p.header 
    {

        font-size: 0.6rem;
        margin-top: 1vh;

    }

    span.line
    {

        display: none;

    }

    div.box 
    {

        margin-top: 13%;
        margin-left: 30%;

    }

    button 
    {
        
        width: 860%;
        font-size: 0.6rem;        

    }

    div#icons 
    {

        margin-left: 26%;
        margin-top: 0.5vh;

    }

    img.twitter 
    {

        padding: 0.9%;

    }

    img.linkedin
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.github 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.mail 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    h2.about 
    {

        font-size: 1rem;

    }

    h1.about
    {

        font-size: 1.9rem;

    }

}

/*Small Screens*/

@media only screen and (min-width: 320px) and (max-width:374px)
{

    header
    {

        width: 100%;
        height: 100vh;
        

    }   
    
    img.main_menu_button
    {

        height: 18px;

    }

    div.dropdown:hover .dropdown-child
    {

        display: flex;

    }

    span#name 
    {

        font-size: 26px;

    }

    a.navigator 
    {

        font-size: 0.7rem;

    }

    h2.header
    {

        font-size: 1.4rem;
        padding-top: 8vh;

    }

    h1.header
    {

        font-size: 2rem;
        padding-top: 2vh;

    }

    p.header
    {

        font-size: 0.7rem;
        margin-top: 1.2vh;
        

    }

    span.line
    {

        display: none;

    }

    div.box
    {

        margin-top: 8%;
        margin-left: 32%;
        

    }

    button 
    {

        height: 45px;
        width: 750%;
        margin-top: 1vh;
        font-size: 0.6rem;

    }

    div#icons
    {

        width: 50%;
        margin-left: 28%;
        margin-top: 0.2vh;

    }

    img.twitter 
    {

        padding: 0.9%;
        

    }

    img.linkedin
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.github 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.mail 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

}

/* medium mobile*/

@media only screen and (min-width: 375px) and (max-width: 424px)
{

    header
    {

        width: 100%;
        height: 100vh;
        

    }    
    
    
    img.main_menu_button
    {

        height: 18px;
        

    }

    div.dropdown:hover .dropdown-child
    {

        display: flex;

    }

    span#name 
    {

        font-size: 26px;

    }

    a.navigator 
    {

        font-size: 0.7rem;

    }

    h2.header
    {

        font-size: 1.82rem;
        padding-top: 8vh;

    }

    h1.header
    {

        font-size: 2.62rem;
        padding-top: 1.6vh;

    }

    p.header
    {

        font-size: 0.9rem;
        margin-top: 1.4vh;
        

    }

    span.line
    {

        display: none;

    }

    div.box
    {

        margin-top: 14%;
        margin-left: 28.2%;
        

    }

    button 
    {

        height: 60px;
        width: 850%;
        font-size: 0.9rem; 
       
    }

    div#icons
    {

        width: 50%;
        margin-left: 32%;
        

    }

    img.twitter 
    {

        padding: 0.9%;

    }

    img.linkedin
    {

        padding: 0.9%;

    }

    img.github 
    {

        padding: 0.9%;

    }

    img.mail 
    {

        padding: 0.9%;

    }

}

/* intermediate mobile */

@media only screen and (min-width: 425px) and (max-width: 436px)
{

    header
    {

        width: 100%;
        height: 100vh;        

    }    
    
    
    img.main_menu_button
    {

        height: 18px;

    }

    div.dropdown:hover .dropdown-child
    {

        display: flex;

    }

    span#name 
    {

        font-size: 26px;

    }

    a.navigator 
    {

        font-size: 0.7rem;

    }

    h2.header
    {

        font-size: 1.6rem;
        padding-top: 8vh;

    }

    h1.header
    {

        font-size: 2.6rem;
        padding-top: 2vh;

    }
    

    p.header
    {

        font-size: 0.85rem;
        margin-top: 1.2vh;
        

    }

    span.line
    {

        display: none;

    }

    div.box
    {

        margin-top: 10%;
        margin-left: 32%;
        

    }

    button 
    {

        height: 45px;
        width: 750%;
        font-size: 0.6rem;

    }

    div#icons
    {

        width: 50%;
        margin-left: 32%;

    }

    img.twitter 
    {

        padding: 0.9%;

    }

    img.linkedin
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.github 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.mail 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

}

/*Large Mobile*/

@media only screen and (min-width: 437px) and (max-width: 767px)
{

    header
    {

        width: 100%;
        height: 100vh;        

    }    
    
    
    img.main_menu_button
    {

        height: 18px;

    }

    div.dropdown:hover .dropdown-child
    {

        display: flex;

    }

    span#name 
    {

        font-size: 26px;

    }

    a.navigator 
    {

        font-size: 0.7rem;

    }

    h2.header
    {

        font-size: 2.2rem;
        padding-top: 8vh;

    }

    h1.header
    {

        font-size: 3.9rem;
        padding-top: 2vh;

    }

    p.header
    {

        font-size: 1.34rem;
        margin-top: 1.2vh;
        

    }

    span.line
    {

        display: none;

    }

    div.box
    {

        margin-top: 12%;
        margin-left: 32%;
        

    }

    button 
    {

        height: 45px;
        width: 750%;
        font-size: 0.9rem;

    }

    div#icons
    {

        width: 50%;
        margin-left: 34%;

    }

    img.twitter 
    {

        padding: 0.9%;

    }

    img.linkedin
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.github 
    {

        padding: 0.9%;
        margin-left: 2%;

    }

    img.mail 
    {

        padding: 0.9%;
        margin-left: 2%;

    }


}

/*tablet version*/

@media only screen and (min-width: 768px) and (max-width: 768px)
{

    header
    {

        width: 100%;
        height: 100vh;
        

    }    
    
    
    img.main_menu_button
    {

        height: 30px;

    }

    div.dropdown:hover .dropdown-child
    {

        display: flex;

    }

    span#name 
    {

        font-size: 38px;

    }

    a.navigator 
    {

        font-size: 1.2rem;

    }

    h2.header
    {

        font-size: 1.8rem;
        padding-top: 18vh;

    }

    h1.header
    {

        font-size: 3.6rem;
        padding-top: 1.5vh;

    }

    p.header
    {

        font-size: 1.2rem;
        margin-top: 1.9vh;
        

    }

    div.box
    {

        margin-top: 8%;
        margin-left: 32%;
        

    }

    button 
    {

        height: 85px;
        width: 600%;
        font-size: 1.3rem;
        margin-left: 70%;

    }

    div#icons
    {

        width: 50%;
        margin-left: 39%;
        margin-top: 3%;

    }

    img.twitter 
    {

        padding: 1.2%;

    }

    img.linkedin
    {

        padding: 1.2%;

    }

    img.github 
    {

        padding: 1.2%;

    }

    img.mail 
    {

        padding: 1.2%;

    }

}