@charset "UTF-8";

*
{

    margin: 0;
    padding: 0;

}

:root 
{

    --white_colors_for_dark_backgrounds: rgba(245, 245, 245, 0.938);
    --pink_colors_for_dark_backgrounds: rgba(246, 85, 120, 0.933);

}

body
{

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.151);

}

header
{

    width: 100%;
    height: 650px;    
        
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.952), rgba(0, 0, 0, 0.747)), url('chuttersnap-IfmO3IJ1j_8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;    

}

div#nav
{

    width: 100%;
    height: 20px;        

}

nav
{

    background-color: var(--pink_colors_for_dark_backgrounds);
    width: 25%;
    height: 30px;

}

a.navigator
{

    font-size: 1.3rem;
    color: var(--white_colors_for_dark_backgrounds);
    text-decoration: none;
    padding-left: 2.5%;    

}

a.navigator:hover
{

    color: rgb(0, 0, 0);

}

h2.header
{

    color: var(--pink_colors_for_dark_backgrounds);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    padding-top: 18vh;

}

h1.header
{

    color: var(--white_colors_for_dark_backgrounds);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 4.8rem;
    padding-top: 1.2vh;

}

p.header 
{

    color: var(--white_colors_for_dark_backgrounds);
    text-align: center;
    font-size: 1.3rem;    
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding-top: 1%;

}

div#button
{

    margin-left: 43%;
    width: 5%;
    height: 120px;
    margin-top: 2%;

}

input.button
{

    width: 280%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    color: var(--white_colors_for_dark_backgrounds);
    text-transform: uppercase;
    border-color: gray;
    
}

input.button:hover 
{

    border-color: var(--pink_colors_for_dark_backgrounds);

}

section
{

    height: 200px;

}